<div class="container membership">
  <div class="row" style="text-align: center">
    <div class="col">
      <h2>Add members to <%=@room.topic %></h2>
      <h3><%= link_to "go to #{@room.topic}", room_path(@room) %></h3>
    </div>
  </div>
  <div class="row offset">
    <div class="col box">
      <h4>Current members</h4>
      <ul id="member-list">
        <% @memberships.each do |member| %>
          <%= render member %>
        <% end %>
      </ul>
    </div>
    <div class="col box">
      <h4>Members to add</h4>
      <ul id="add-users">
        <%= form_for([@room, @room.memberships.build], remote: true) do |f| %>
          <% @users.each do |user| %>
            <li id="<%= "#{user.id}-add-member" %>">
              <%= user.email %>
              <!-- <%= f.check_box :user_id %> -->
              <%= check_box_tag(:user_id, user.id) %>

            </li>
          <% end %>
          <p>
           <%= f.submit "Submit", class: 'btn btn-success' %>
          </p>
        <% end %>
      </ul>
    </div>
  </div>
</div>
