<div class="container membership">
  <div class="row" style="text-align: center">
    <div class="col">
      <h2>Add members to <%=@room.topic %></h2>
    </div>
  </div>
  <div class="row offset">
    <div class="col-12 box">
      <h4><%=@room.topic %> members</h4>
      <div class="room-link"> <%= link_to '<span><i class="fas fa-link"></i></span>'.html_safe, room_path(@room) %>
      </div>
      <ul id="member-list">
        <% @memberships.each do |member| %>
          <%= render member %>
        <% end %>
      </ul>
    </div>
    <div class="col-12 box add-box">
      <h4>Add users to your channel</h4>
      <ul id="add-users">
        <%= form_for([@room, @room.memberships.build], remote: true) do |f| %>
          <% @users.each do |user| %>
            <li id="<%= "#{user.id}-add-member" %>">
              <%= user.first_name %>
              <!-- <%= f.check_box :user_id %> -->
              <!-- <%= check_box_tag(:user_id, user.id) %> -->
              <%= check_box("membership", "user_id", { :multiple => true }, user.id, nil)  %>


            </li>
          <% end %>
          <p>
           <%= f.submit "Submit", class: 'btn btn-success btn-spacing' %>
          </p>
        <% end %>
      </ul>
    </div>
  </div>
</div>
