<section class="container spacing-top">

	<% if @user.profile_pic.attached? %>
		<%= image_tag @user.profile_pic.variant(combine_options: {resize: '300x300^', gravity: 'center', extent: '300x300^'}), class: 'big-circle' %>
	<% else %>
		<%= image_tag('chat.jpg', class: 'big-circle') %>
	<% end %>
	<h3>Hello <%= @user.first_name %></h3>
	<p>
	  <strong>First name:</strong>
	  <%= @user.first_name %>
	</p>

	<p>
	  <strong>Last name:</strong>
	  <%= @user.last_name %>
	</p>

	<%= link_to 'Edit', edit_user_path(@user) %> |
	<%= link_to 'Back', users_path %>
</section>